<div class="row">
    <div class="col-md-12">

	<h2>Profile</h2>
	<p>Obrazek Uczen:</p>
	<p>
	    <img src="/img/uczen.png" alt="Uczen" class="img-thumbnail img-responsive" />
	</p>
	<p class="text-muted"><small>(Warto napisać coś o prawach autorskich)</small></p>
	<div class="row">
	    <div class="col-lg-8 col-md-9 col-xs-12 col-sm-12">
		<p>Lista profili</p>
		<table class="table table-condensed table-bordered table-striped">
		    <thead>
			<tr>
                            <th>Nazwa profilu</th>
                            <th>Szkola</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="p in profile | orderBy:['profilNazwa', 'szkola']">
                            <td>{{p.profilNazwa.nazwa}}</td>
                            <td>{{p.szkola.name}}</td>
                        </tr>
		    </tbody>
		</table>
		<button type="button" class="btn btn-default" data-ng-click="openNewProfilDlg();">Nowy profil</button>
	    </div>
	</div>
    </div>
</div>