<!-- MODAL - EDITING EXISTING PROFILE -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editProfileLabel">EDYCJA PROFILU</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="profileName" class="control-label">NAZWA</label>
                        <input type="text" class="form-control" id="profileName" value="" placeholder="Podaj nowa nazwe profilu" data-ng-model="editprofil.nazwa">
                    </div
                    <div class="form-group checkbox-container">
                        <div class="label-container"><label for="">PRZEDMIOTY</label><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Przedmioty rozszerzone, które wchodzą w skład nowego profilu."></i></div>
                       <div data-ng-repeat="przedmiot in przedmioty" class="przedmiot" id="{{przedmiot.id}}">
                            <label>
                                <input type="checkbox" ng-change="sync(bool, przedmiot)" ng-model="bool" ng-checked="isChecked(przedmiot.id)">
                                <span>{{przedmiot.name}} Selected: {{bool}} </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close-btn button-curve" data-dismiss="modal" data-ng-click="cancel();">ANULUJ</button>
                <button type="button" id="" class="btn approve-btn button-curve" ng-click="editProfile($event);" data-dismiss="modal" data-ng-click="submit();">ZAPISZ</button>
            </div>
        </div>
    </div>
</div>