<div class="row">
    <div class="col-md-12">

	<h2>Kółka Zainteresowań</h2>
	<p>Obrazek Uczen:</p>
	<p>
	    <img src="/img/uczen.png" alt="Uczen" class="img-thumbnail img-responsive" />
	</p>
	<div class="row">
	    <div class="col-lg-8 col-md-9 col-xs-12 col-sm-12">
		<p>Lista kółek zainteresowań</p>
		<table class="table table-condensed table-bordered table-striped">
		    <thead>
			<tr>
                            <th>Przedmiot</th>
                            <th>Nazwa</th>
                            <th>Szkoła</th>
                            <th>Termin</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="p in kolka | orderBy:['nazwa', 'szkola']">
                            <td>{{p.przedmiot.name}}</td>
                            <td>{{p.nazwa}}</td>
                            <td>{{p.szkola.name}}</td>
                            <td>{{p.termin}}</td>
                        </tr>
		    </tbody>
		</table>
		<button type="button" class="btn btn-default" data-ng-click="openNewKolkoDlg();">Nowe Kółko Zainteresowań</button>
	    </div>
	</div>
    </div>
</div>