<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel();">&times;</button>
    <h4 class="modal-title">New picture</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="theForm" role="form" data-ng-submit="submit();">
	<div class="form-group" data-ng-show="badRequest">
	    <div class="col-sm-offset-2 col-sm-10">
		<label class="text-danger">
		    {{badRequest}}
		</label>
	    </div>
	</div>
	<div class="form-group" data-ng-class="{'has-error': theForm.inputImageData.$invalid,'has-success': theForm.inputImageData.$valid}">
	    <label for="inputImageData" class="col-sm-2 control-label">Image file</label>
	    <div class="col-sm-10">
		<input type="file" id="inputImageData" name="inputImageData" data-ng-file-select="onFileSelect($files);" />
	    </div>
	</div>
    </form>
</div>
<div class="modal-footer">
    <img src="/img/waiting.gif" alt="waiting" data-ng-show="submitting" />&#160;&#160;
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel();">Cancel</button>
    <button type="submit" class="btn btn-primary" data-ng-disabled="theForm.$invalid || imageData === null || submitting" data-ng-click="submit();">Upload picture</button>
</div>