<div class="row">
    <div class="col-md-12">

	<h2>Nazwy profili</h2>
	<p>Obrazek Uczen:</p>
	<p>
	    <img src="/img/uczen.png" alt="Uczen" class="img-thumbnail img-responsive" />
	</p>
	<p class="text-muted"><small>(Warto napisać coś o prawach autorskich)</small></p>
	<div class="row">
	    <div class="col-lg-8 col-md-9 col-xs-12 col-sm-12">
		<p>Lista nazw profili</p>
		<table class="table table-condensed table-bordered table-striped">
		    <thead>
			<tr>
                            <th>Nazwa</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="pr in profile_nazwa | orderBy:['nazwa']">
			    <td>{{ pr.nazwa }}</td>                           			    
                        </tr>
		    </tbody>
		</table>
		<button type="button" class="btn btn-default" data-ng-click="openNewProfil_nazwaDlg();">Nowy profil</button>
	    </div>
	</div>
    </div>
</div>