<div class="row">
    <div class="col-md-12">

	<h2>Strona profilowa Szkoly</h2>
	<p class="nazwaszkoly"></p>
	<p class="miasto"></p>
        <p class="kodpocztowy"></p>
        <p class="adres"></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-container" style="margin: 10px;">    
            <!--<div class="content" ng-repeat="s in szkola| orderBy:['name', 'adres', 'kodpocztowy']">
                {{ s.name}}
                {{ s.miasto}}
                {{ s.adres}}
			Zakomentowane, możliwość zobaczenia jakie są dodane szkoły
            </div>-->
        </div>

    </div>
    <div class="col-md-9">
         <script src="../js/mapa_profil_szkoly.js" type="text/javascript"></script>
        <div id="map" style="width: 500px; height: 500px; border: 1px solid black; background: white;">    
        </div>   
    </div>
</div>