<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Nowe zainteresowania</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="theForm" role="form" data-ng-submit="submit();">
	<div class="form-group" data-ng-show="badRequest">
	    <div class="col-sm-offset-2 col-sm-10">
		<label class="text-danger">
		    {{badRequest}}
		</label>
	    </div>
	</div>
        <div class="col-lg-8 col-md-9 col-xs-12 col-sm-12">
		<p>Lista Przedmiotow</p>
	<!--	<table class="table table-condensed table-bordered table-striped">
		    <thead>
			<tr>
			    <th>Przedmiot</th>
                            <th>Id</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="s in przedmioty | orderBy:['id', 'name', 'kategoria']">
			    <td>{{ s.name }}</td>
                            <td>{{ s.id }}</td>
                        </tr>
		    </tbody>
		</table>
        -->
                <select id="WybranyPrzedmiot" ng-model="myselect" ng-options="o.id as o.name for o in przedmioty"></select>
        <div class="form-group" data-ng-class="{'has-error': theForm.inputstopienZainteresowania.$invalid,'has-success': theForm.inputstopienZainteresowania.$valid}">
	    <label for="inputName" class="col-sm-2 control-label">StopienZainteresowania</label>
	    <div class="col-sm-10">
		<input id="inputstopienZainteresowania" name="inputstopienZainteresowania" type="number" min="1" max="100" class="form-control" data-ng-model="zainteresowania.stopienZainteresowania" data-ng-required="true"/>
	    </div>
	</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <img src="/img/waiting.gif" alt="waiting" data-ng-show="submitting" />&#160;&#160;
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel();">Cancel</button>
    <button type="submit" class="btn btn-primary" data-ng-disabled="theForm.$invalid || submitting" data-ng-click="submit();">Save zainteresowania</button>
</div>